html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fbf6ec;
    margin: 0;
    max-width: 100%;
}

#main-container {
    display: grid;
    grid-template-areas: 'input books';
    gap: 15px;
}

#books-container {
    grid-area: 'books';
    margin-right: 20px;

}

button:hover {
    cursor: pointer;
}

#inputs {
    background-color: #17C3B2;
    margin-left: 20px;
    padding: 20px;
    grid-area: 'input';
    max-height: 550px;
}

#inputs>input {
    /* margin: 0; */
    margin-bottom: 15px;
}

#read-input2{
    margin: 0;
    width: 30px;
    margin-left: 20px;
}

#inputs>select {
    margin-top: 10px;
}

.book {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FE6D73;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 15px;
}

p {
    display: inline;
    margin: 10px;
    /* margin-left: 30px; */
    margin-right: 50px;


}

h1 {
    text-align: center;

}

label {
    font-size: 20px;
}

#title {
    background-color: #227c9d;
    margin: 0;
    margin-bottom: 50px;
    /* width: 100%; */
    padding: 1px;
}




.book>button {
    vertical-align: middle;
    margin: 0;
    margin-right: 20px;
    display: inline;
    background-color: #FFCB77;
    min-width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    /* padding: 20px; */
    font-size: 20px;
    border-style: none;
    height: 30px;
}


/* }
.delete-btn {
    padding: 3px;
    margin-right: 20px;
    top: 50%;
    background-color: #FFCB77;
    width: 100px;
    float: right;
    font-size: 25px;
    border-style: none;
}

.book-read{
    border-style: none;
    font-size: 25px;
    float: right;
    background-color: #FFCB77;
} */

.book-read:hover {
    cursor: pointer;
}

input {
    width: 100%;
    height: 30px;
    border-style: none;
}

select {
    height: 30px;
    border-style: none;
    width: 50px;
}

#btn-add {
    width: 100%;
    margin-top: 10px;
    border-style: none;
    height: 30px;
}